<div class="row col-md-12 data-item-box" style="padding: 0 16px;" data-xid="">
	<div data-show="editMode" class="" style="">
		<!-- 事件 -->
		<div data-show="editEventMode" class="col-md-5  droppable sortable ui-droppable ui-sortable" style="">
			<div class="form-group draggable ui-draggable dropped" style="position: static;">
				<label class="col-xs-4 control-label">事件:</label>
				<div class="col-xs-8">
					<select class="form-control" id="event">
						<option value="-1">--请选择--</option>
					</select>
				</div>
			</div>
		</div>
		
		<!-- 时间 -->
		<div data-show="editDurationMode" class="col-md-5  droppable sortable ui-droppable ui-sortable" style="">
			<div class="form-group draggable ui-draggable dropped" style="position: static;">
				<label class="col-xs-4 control-label">用时:</label>
				<div class="col-xs-8">
					<select class="form-control" name="duration">
						<option>--请选择--</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
					</select>
				</div>
			</div>
		</div>
	
		<div class="btn-operation" data-show="editMode">
			<button class="btn btn-default btn-circle btn-cancel-hack" type="button" data-show="editMode">
				<i class="fa fa-minus" title='删除'></i>
			</button>
		</div>
	</div>
</div>